<div class="container">
  <div class="container">
    <div>
      <img src="pictures/zeeabout.jpg" alt="my fun photo" class="profilepic">
      <p class="strengths">TOP FIVE STRENGTHS
      1.   Restorative
      2.   Adaptability
      3.   Relator
      4.   Positivity
      5.   Learner</p>
    </div>
    <h2>About Me</h2>
    <p>Hi, my name is Zeinab! As a software developer, I really enjoy problem-solving and getting my hands dirty. I am a recent graduate of Prime Digital Academy, a coding boot camp in Minnesota, where I worked on two fantastic projects, one solo and one group.</p>
    <p>In order, to keep up with the fast-paced world of technology I believe it is essential to have an eagerness to constantly learn. During my free-time, I make it a priority to develop my technical and soft tech by attending local meetups, development conferences, and learning new technologies. My technical and non-technical skills such as client services, analytical skills, the ability to work in a team, and diverse perspective have given me a solid foundation.</p>
    <p> I believe that pushing myself helps me grow consistently and effectively. I have an equal willingness to learn and teach. Ultimately, I would love to give back to other learning developers as well as expand my knowledge.</p>

  </div>
  <div class="container">
    <h2>My Experience</h2>
    <p>While working on my solo-project, a website for those who are always on the go but also have a knack for watching new t.v series or movies, I learned the importance of having a problem-solution orientation, being optimistic, and having a genuine interest in your craft. During my group project, an online, mobile first web application built for our client to check in with over 1,700 summer interns each week. My team and I worked in an agile environment, consistently met deadlines, and kept an optimistic mentality.</p>
  </div>
  <div class="container">
    <h2>Technical Skills</h2>
    <div class="row">
      <div class="col-xs-6 col-md-3"><img src="pictures/html.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/css.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/js.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/jQuery.gif" class="tech"></div>

      <div class="col-xs-6 col-md-3"><img src="pictures/mongodb.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/angularjs.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/nodejs.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/githublogo.png" class="tech"></div>

      <div class="col-xs-6 col-md-3"><img src="pictures/postgresql.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/Boostrap.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/npm.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/grunt.png" class="tech"></div>

      <div class="col-xs-6 col-md-3"><img src="pictures/ajax.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/heroku.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/googlemap.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/filestack.png" class="tech"></div>

      <div class="col-xs-6 col-md-3"><img src="pictures/git.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/mysql.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/postico.png" class="tech"></div>
      <div class="col-xs-6 col-md-3"><img src="pictures/robomongo.png" class="tech"></div>
    </div>
  </div>
  <div class="container">
    <h2>Want to connect</h2>
    <p>If you would like to reach out please feel free to contact me through any of the available avenues. Click here to be directed to the <a href="/contact">contact</a> page. Have a great day! Thank you!</p>
  </div>
  </div>
