<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Contact information</h2>
      <p>I am currently in the job market and I am looking for oportunities to grow and develop my skills.</p>
      <p>Thanks for checking out my portfolio If you do have any questions please do not hesitate to contact me thank you.</p>
    </div>
    <div class="col-md-4">
      <h2>Contact me</h2>
      <ul class="contact-me">
        <li class="phone"><a href="tel:651-246-8417">651-246-8417</a></li>
        <li class="Gmail"><a href="mailto:zeinab.hassan101@gmail.com">zeinab.hassan101@gmail.com</a></li>
        <li class="LinkedIn"><a href="https://www.linkedin.com/in/zeinab-hassan-477285140/" target="_blank">LinkedIn</a></li>
        <li class="GitHub"><a href="https://github.com/hassanz101" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </div>
</div>
